.pagina-principal {
  color: white;
  font-size: 25px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-top: 195px;
  padding-bottom: 195px;
  border-bottom: 4px none rgb(255, 170, 159);
  background-image: url(../imagenes/fondo.jpg);
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
}

.boton {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 30px;
  border-radius: 4px;
  background-color: rgb(255, 170, 159);
  color: white;
  font-size: 16px;
  line-height: 21px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.boton2 {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 30px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 170, 159);
  border-radius: 4px;
  transition-property: background-color, border, color;
  transition-duration: 300ms, 300ms, 300ms;
  transition-timing-function: ease, ease, ease;
  color: rgb(255, 170, 159);
  line-height: 21px;
  font-weight: 300;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: rgb(255, 170, 159);
  background-color: transparent;
}

.fuente {
  margin-bottom: 40px;
  color: white !important;
  font-size: 25px;
  line-height: 25px;
  font-weight: 300 !important;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.apere {
  margin-bottom: 30px;
  color: rgb(255, 170, 159);
  font-size: 60px;
  line-height: 60px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.salmon {
  color: rgb(255, 170, 159);
}

.titulo {
  color: rgb(255, 170, 159);
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.color {
  background-color: white !important;
}

.grilla {
  display: grid;
  grid-template-areas: "arriba arriba arriba" "primera medio ultima";
  grid-template-rows: auto auto;
  grid-template-columns: 350px 350px 350px;
  text-align: center;
  margin-top: 50px;
}

.arriba {
  grid-area: arriba;
  align-self: center;
}

.primera {
  grid-area: primera;
  display: inline-flex;
}

.medio {
  grid-area: medio;
  display: inline-flex;
}

.ultima {
  grid-area: ultima;
  display: inline-flex;
}

.card {
  padding: 15px;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(255, 170, 159) !important;
  border-radius: 15px !important;
  background-color: black !important;
  text-align: center;
  margin: 10px;
}

.card_imagen {
  align-self: center;
  height: auto;
  width: auto;
  padding-bottom: 7px;
}

.card_texto {
  margin-top: 0px;
  margin-bottom: 0px;
  color: rgb(103, 103, 112);
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 7px;
  text-transform: uppercase;
}

.contenedor {
  margin-left: 82px;
  margin-right: auto;
  max-width: 1000px;
}

.contenedor2 {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.section {
  position: relative;
  padding: 10px;
  border-top: 0px solid rgb(255, 170, 159);
  border-bottom: 1px solid rgb(0, 0, 0);
  background-color: black;
  color: rgb(255, 170, 159);
  text-align: center;
}

.pagina-principal {
  color: white;
  font-size: 25px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-top: 195px;
  padding-bottom: 195px;
  border-bottom: 4px none rgb(255, 170, 159);
  background-image: url(../imagenes/fondo.jpg);
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
}

.orden {
  display: grid;
  grid-template-areas: "imagen imagen" "titulo titulo" "bio bio" "boton boton";
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto;
  text-align: center;
}

.imagen {
  grid-area: imagen;
  padding: 20px;
}

.titulo {
  grid-area: titulo;
  padding: 10px;
}

.bio {
  grid-area: bio;
}

.button {
  grid-area: boton;
}

.a {
  text-decoration: none;
}

.contenedor3 {
  margin-left: 95px;
  margin-right: auto;
  max-width: 1000px;
}

.atras {
  background-color: black;
}

.algo {
  align-items: center;
  margin-left: 450px;
  margin-top: 0px;
}

.hijo {
  width: 300px;
  margin: 13px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  line-height: 20px;
  color: #FFAA9F;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 30px;
  margin-left: 12px;
}

.pie {
  display: grid;
  grid-template-areas: "mail instagram wpp";
  grid-template-rows: auto;
  grid-template-columns: 350px 350px 350px;
  text-align: center;
  margin: 20px;
  justify-content: center;
  justify-items: center;
}

.mail {
  grid-area: mail;
  align-self: center;
}

.instagram {
  grid-area: instagram;
  display: inline-flex;
}

.wpp {
  grid-area: wpp;
  display: inline-flex;
}

.marketplace {
  display: grid;
  grid-template-areas: "fila1" "fila2" "fila3" "fila4" "fila5";
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: 400px;
  text-align: center;
  align-items: center;
}

.fila1 {
  grid-area: fila1;
  align-self: center;
}

.fila2 {
  grid-area: fila2;
}

.fila3 {
  grid-area: fila3;
}

.fila4 {
  grid-area: fila4;
}

.fila5 {
  grid-area: fila5;
}

.separacion {
  margin-right: 10px;
}

.contactos {
  display: grid;
  grid-template-areas: "lab inp" "labe inpu" "la in";
  grid-template-rows: auto auto auto;
  grid-template-columns: 200px 350px;
  text-align: center;
  margin-top: 50px;
}

.lab {
  grid-area: lab;
  margin: 10px;
}

.inp {
  grid-area: inp;
  margin: 10px;
}

.labe {
  grid-area: labe;
  margin: 10px;
}

.inpu {
  grid-area: inpu;
  margin: 10px;
}

.la {
  grid-area: la;
  margin: 10px;
}

.in {
  grid-area: in;
  margin: 10px;
}/*# sourceMappingURL=style.css.map */