.footer{
    display: grid;
    grid-template-areas: "descripcion social"
                         "parra twitter"
                         "parra instagram"
                         "parra facebook";
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto;
    text-align: center;
    margin-top: 50px;
}

.descripcion{ 
    grid-area: descripcion;
    align-content: flex-start;
}

.social{
    grid-area: social;
}

.parra{
    grid-area: parra;
    display: inline-flex;
}

.twitter{
    grid-area: twitter;
    display: inline-flex;
}

.instagram{
    grid-area: instagram;
    display: inline-flex;
}

.facebook{
    grid-area: facebook;
}