.pie{
    display: grid;
    grid-template-areas: "mail instagram wpp";
    grid-template-rows: auto ;
    grid-template-columns: 350px 350px 350px;
    text-align: center;
    margin: 20px;
    justify-content: center;
    justify-items: center;
}

.mail{ 
    grid-area: mail;
    align-self: center;
}

.instagram{
    grid-area: instagram;
    display: inline-flex;
}

.wpp{
    grid-area: wpp;
    display: inline-flex;
}
