.fuente{
    margin-bottom: 40px;
    color: white !important;
    font-size: 25px;
    line-height: 25px;
    font-weight: 300 !important;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.apere{
    margin-bottom: 30px;
    color: rgb(255, 170, 159);
    font-size: 60px;
    line-height: 60px;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
}