.atras{
    background-color: black;
}

.algo{
    align-items: center;
    margin-left: 450px;
    margin-top: 0px;
}

.hijo{
    width: 300px;
    margin: 13px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    line-height: 20px;
    color:#FFAA9F;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 30px;
    margin-left: 12px;
}