.pagina-principal {
    margin-bottom: 40px;
    color: white;
    font-size: 25px;
    line-height: 25px;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-top: 195px;
    padding-bottom: 195px;
    border-bottom: 4px none rgb(255, 170, 159);
    background-image: url(../imagenes/fondo.jpg);
    background-position: 50% 50%;
    background-size: cover;
    text-align: center;
}