.productos{
    display: grid;
    grid-template-areas: "img"
                         "p1"
                         "p2"
                         "p3"
                         "bot";
    grid-template-rows: 207px auto auto auto 50px;
    grid-template-columns: 300px;
    text-align: center;
}

.img{ 
    grid-area: img;
    align-self: center;
    border-width: 2px;
    border-color: rgb(255, 170, 159) ;
    border-style: solid;
}

.p1{
    grid-area: p1;
    display: inline-flex;
}

.p2{
    grid-area: p2;
    display: inline-flex;
}

.p3{
    grid-area: p3;
    display: inline-flex;
}

.bot{
    grid-area: bot;
    display: inline-flex;
}