.section{
    position: relative;
    padding: 80px 10px;
    border-top: 0px solid rgb(255, 170, 159);
    border-bottom: 1px solid rgb(0, 0, 0);
    // background-color: black;
    color: rgb(255, 170, 159);
    text-align: center;
}